* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

body {
    background: #f8f8fb;
    color: #343a40;
    -webkit-font-smoothing: antialiased !important;
}

body,
input,
button,
textarea {
    font-family: Roboto, sans-serif;
    font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 800;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: #545454;
}

table {
    border-collapse: collapse;
    width: 100%;
}

h2 {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(240, 240, 240);
}

.btn-action {
    display: flex;
}

.btn-action div a > img {
    margin-left: 20px;
}

.btn-produto {
    cursor: pointer;
    text-align: center;
    background: #343a40;
    height: 30px;
    border-radius: 10px;
    border: 0;
    padding: 6px;
    color: #fff;
    width: 200px;
    transition: background-color 0.2s;
}

.btn-cancel {
    background: #aa2301;
}

form {
    display: flex;
    justify-content: center;
    padding: 100px;
    width: 100%;
    height: 100%;
}

form div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0px 20px 100px rgba(0, 0, 0, 0.05);
}

form div h1 {
    margin-bottom: 30px;
}

.btn-register {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form div input {
    flex: 1;
    background: transparent;
    border: 0;
    color: #312e38;
    font-weight: 600;
    font-size: 18px;
    background: #fff;
    border-radius: 10px;
    padding: 6px;
    width: 500px;

    border: 2px solid #b5b5b5;
    color: #312e38;

    display: flex;
    align-items: center;

    margin-bottom: 30px;
}
